<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470338745628-171cf53de3a8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);">
  <div class="container">
    <h1>New ingredient for <%= @cocktail.name  %> </h1>
    <p>Add an ingredient</p>
  </div>
</div>


<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.all, prompt: "Choose an Ingredient" %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn, btn-primary"%>
<% end %>
